version: "3.7"

services:
  postgres:
    image: bitnami/postgresql:latest
    container_name: stockly-postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=stockly-postgres
    volumes:
      - postgres_data:/bitnami/postgresql

volumes:
  postgres_data:
